extends templates/base

block variables
	- var pageTitle = 'navigation hotels'


block main
		include templates/header/header
		p.hi  Цсс тож работает
		p.test-font Тестируем шрифты
		p.devTest Navigation

		ul
			li
				a(href="colorsTypes.html") Colors & Type
			li
				a(href="formElements.html") Form Elements
			li
				a(href="headersFooters.html") Headers & footers
			li
				a(href="cards.html") cards

		include templates/footer/footer

